<div id="clearance" class="container col-sm-4">
	<h2 class="container text-center"><%= t(".title") %></h2>

	<%= form_for @user do |form| %>
	<%= render partial: '/users/form', object: form %>

	<%= form.submit "Sign up", class: "btn btn-primary" %>
	<div class="submit-field">
		<%= form.submit %>
	</div>

	<% end %>
</div>
