<div class="container col-sm-8">
	<%= form_for :post, html: {mutipart: true} do |form| %>
	<div>
		<h1 class="text-center">New post</h1>

		<p>Image preview</p>
		<%= form.file_field :image %>

		<div class="form-group">
			<label>Title</label>
			<%= form.text_field :title, class: "form-control" %>
		</div>

		<div class="form-group">
			<label>Content</label>
			<%= form.text_field :content, class: "form-control" %>
		</div>

		<div>
			<%= form.text_field :user, type: 'hidden', :value => current_user.email %>
		</div> 

		<%= form.submit "Create",  class: "actions btn btn-primary" %> 
	</div>	
	<% end %>	
</div>
</div>