<!DOCTYPE html>
<html>
<head>
	<title>Web</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<div class="container">

		<div class="partial_navbar">
			<%= render partial: '/layouts/navbar' %>
		</div>

		<div class="partial_navbar_user">
			<%= render partial: '/layouts/navbar_user' %>
		</div>			

		<div id="flash"> 
			<% flash.each do |key, value| %> 
			<div class="flash <%= key %>">
				<%= value %>
			</div> 
			<% end %> 
		</div>

		<div class="">
			<%= yield %>
		</div>

		<div class="partial_footer">
			<%= render partial: '/layouts/footer' %>
		</div>
	</div>
</body>
</html>
